</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                Copyright © Voter 2019.&nbsp;&nbsp;&nbsp;
                Made By Naveen Rohilla
            </div>
            <div class="col s4">
            </div>
        </div>
    </div>
</footer>


<script src="/js/materialize.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>