<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include meta-data %>
    <title>Home</title>
</head>

<body>
    <% include header %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <blockquote class="card-panel"><h5>Election Name can only contain Alphabets, Numbers, spaces and hyphen.</h5></blockquote>
                <blockquote class="card-panel"><h5>Post Name can only contain Alphabets, spaces and hyphen.</h5></blockquote>
                <blockquote class="card-panel"><h5>Candidate Name can only contain Alphabets and spaces.</h5></blockquote>
                <blockquote class="card-panel"><h5>Minimum number of candidates in each section is 2.</h5></blockquote>
                <blockquote class="card-panel"><h5>Voting limit refers to the max number of candidates to which votes can be casted in each section.</h5></blockquote>
                <blockquote class="card-panel"><h5>Elections will end immediately either on closing the web browser or reloading the <b>'Voting'</b> page via URL.</h5></blockquote>
                  
            </div>
        </div>
    </div>
    <% include footer %>
</body>

</html>